<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBBot Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css')}}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="title">    
            <div class="judul">IBBot Chatbot</div>
        </div>
        <div id="myModal" class="modal" >
    
            <div class="modal-content" >
              <span class="close" >&times;</span>
              <br>
              <p>Your token is invalid</p>
            </div>
          
        </div>
        
        <div class="form" id="screen">
        </div>
        <div class="typing-field">
            <div class="before-chat">
                <!-- <p id="alert" class="alert" style="display: none;"> Your token is invalid</p> -->
                <div id="start-chat">
                    <label>Input token: <input id="token" type="text" placeholder="Input your token" required> </label>
                    <button class="button" id="start-chat-button">Start chatting</button>
                </div>
            </div>
            <div class="input-data" id="input-data">
                <input id="data" type="text" placeholder="Type something here.." required>
                <button id="send-btn">Send</button>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            'use strict';

            let ws = null;
            // console.log('bruh');
            function start(){
                let token = document.getElementById("token").value;

                ws = new WebSocket(`ws://localhost:8000?token=${token}`);
                document.getElementById("token").value = '';
                // console.log('bruh');

                ws.onmessage = (event) => {
                    const form = document.getElementById('screen');
                    const div = document.createElement('div');
                    div.style = "align-items: center";
                    div.className = "bot-inbox inbox";
                    div.innerHTML = '<div class="icon"><img src="https://d17ivq9b7rppb3.cloudfront.net/original/commons/dibantu-pp.png" class="agent" ></div><div class="msg-header"><p>'+ event.data +'</p></div>'
                    form.appendChild(div);
                    $(".form").scrollTop($(".form")[0].scrollHeight);
                }
                
                ws.onclose = () => {
                    document.getElementById("input-data").style.display = "none";
                    document.getElementById("start-chat").style.display = "block";
                    // document.getElementById("alert").style.display="none";
                    ws = null;
                };

                ws.onerror = () => {
                    document.getElementById("input-data").style.display = "none";
                    document.getElementById("start-chat").style.display = "block";
                    // document.getElementById("alert").style.display="block";
                    document.getElementById("myModal").style.display = "block";
                }

                ws.onopen = () => {
                    ws.send("CONNECTION_OPENED");
                    event.preventDefault();
                }

            }

            function check(){
                if(!ws || ws.readyState == 3) start();
            }


            document.getElementById("send-btn").addEventListener("click", () => {
                const value = document.getElementById("data").value;
                const div = document.createElement('div');
                div.className = "user-inbox inbox"
                div.innerHTML = '<div class="msg-header"><p>'+ value +'</p></div>';
                const form = document.getElementById('screen');
                form.appendChild(div);
                document.getElementById("data").value = '';
                ws.send(value);
                event.preventDefault();
            })

            // script untuk send button = enter key
            const input = document.getElementById("data");
            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function(event) {
            // Number 13 is the "Enter" key on the keyboard
            if (event.keyCode === 13) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Trigger the button element with a click
                document.getElementById("send-btn").click();
            }
            });

            document.getElementById("start-chat-button").addEventListener("click", (ev) => {
                document.getElementById("start-chat").style.display="none";
                document.getElementById("input-data").style.display="block";
                check();
            })

            document.getElementsByClassName("close")[0].onclick = () =>{
                document.getElementById("myModal").style.display = "none";
            }

        });
    </script>
    
</body>
</html>