@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    display: grid;
    height: 100%;
    place-items: center;
    background-image: url("assets/wallpaper.png");
}

body {
    display: grid;
    height: 100%;
    place-items: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* left: 0;
    top: 0; */
    width: 800px;
    height: 500px;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

.modal-content p {
    color: red;
    text-align: center;
    margin-block: 0;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

::selection {
    color: #fff;
    background: #007bff;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

.wrapper {
    width: 800px;
    background-image: url("assets/blue-snow.png");
    border-radius: 10px;
    /* border: 1px solid lightgrey; */
    border-top: 0px;
}

.wrapper .title {
    display: grid;
    grid-template-areas: "back . . . .  Title . . . . readme";
    background: #007bff;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #006fe6;
    border-radius: 10px 10px 0 0;
}

.wrapper .form {
    padding: 20px 15px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
}

.wrapper .form .inbox {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.wrapper .form .user-inbox {
    justify-content: flex-end;
    margin: 13px 0;
}

.wrapper .form .inbox .icon .agent {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 40px;
}

.wrapper .form .inbox .msg-header {
    max-width: 50%;
    margin-left: 10px;
    margin-top: 5px;
}

.form .inbox .msg-header p {
    color: #fff;
    background: #4cd650;
    border-radius: 10px;
    padding: 8px 10px;
    word-break: break-all;
    font-size: 18px;
}

.form .user-inbox .msg-header p {
    color: rgb(255, 255, 255);
    background: #43a8fb;
    font-size: 18px;
}

.wrapper .typing-field {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}


.wrapper .typing-field .input-data {
    height: 40px;
    width: 95%;
    position: relative;
}

.input-data {
    display: none;
}



.wrapper .typing-field .input-data input {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 0 80px 0 15px;
    border-radius: 3px;
    font-size: 15px;
    background: #fff;
    transition: all 0.3s ease;
}

.typing-field .input-data input:focus {
    border-color: rgba(0, 123, 255, 0.8);
}

.input-data input::placeholder {
    color: #999999;
    transition: all 0.3s ease;
}

.input-data input:focus::placeholder {
    color: #bfbfbf;
}

.wrapper .typing-field .input-data button {
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    background: #007bff;
    border: 1px solid #007bff;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.wrapper .typing-field .input-data input:valid~button {
    opacity: 1;
    pointer-events: auto;
}

.typing-field .input-data button:hover {
    background: #006fef;
}

.wrapper .title .judul {
    grid-area: Title;
}

#chatbot {
    grid-area: back;
}

#readme {
    grid-area: readme;
}

.button {
    grid-area: button;
    height: 70%;
    margin: 10px;
    padding: 5px 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4cd650;
    border: none;
    border-radius: 15px;
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}